#logo-topo {
    width: 30%;
    float:right;
    position: relative;
}

#nav-header {
    display: block;
    width: 30px;
    background-color: #e6d705;
}

#barra-header {
    background-color: rgb(207, 205, 205);
    color: blue;
    text-align: right;
}

#sec-1 {
    background-color: rgb(219, 232, 236);
}

p {
    text-align: left;
}

#sec-2 {
    float:left;
}

#sec-3 {

}

#item-figure {
    float: right;
    width: 30%;
    text-align: center;
    font-style: italic;
    font-size: smaller;
    text-indent: 0;
    border: thin silver solid;
    margin: 0.5em;
    padding: 0.5em;
}

#bolota-com-pata {
    border-radius: 100%;
    width: 3%;
    position: absolute;
    background: #C4C4C4;
    -webkit-animation: rotation 4s infinite linear;
}

legend { 
    display: block;
    padding-left: 2px;
    padding-right: 2px;
    border: none;
}

#dog-footer {
    
    width: 15%;
    float:right;
    position: relative;
}

#nav-footer {
    display: block;
    width: 30px;
    background-color: #9c9c98;
}

#fake-fieldset {
    border: none;
    padding: 0;
}

#barra-footer-1 {
    background-color: rgb(207, 205, 205);
    color: blue;
    text-align: right;
}

#barra-footer-2 {
    background-color: rgb(207, 205, 205);
    color: blue;
    float: center;
    width: 100%;
    text-align: center;
    font-size: smaller;
    border: thin silver solid;

}

@-webkit-keyframes rotation {
    from {
            -webkit-transform: rotate(0deg);
    }
    to {
            -webkit-transform: rotate(359deg);
    }
}